@import "tailwindcss";


:root {
  --background: #0f1021;
  --background-secondary: #272856;
  --background-tertiary: #564d98;
  --text-primary: #a3d4ec;
  --text-secondary: #6281b7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1021;
    --background-secondary: #272856;
    --background-tertiary: #564d98;
    --text-primary: #a3d4ec;
    --text-secondary: #6281b7;
  }
}


body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
